body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #0b54c3;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main {
    padding: 20px;
    text-align: center;
}
.swiper-container {
    width: auto; 
    height: auto; 
    max-width: 100%; 
}

.swiper-slide {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.swiper-slide img {
    display: block; 
    max-width: 100%; 
    max-height: 100vh;
    object-fit: contain; 
}

